@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
 
    :root {
      --background: 0 59% 98%;
      --foreground: 0 63% 3%;
      --muted: 0 19% 89%;
      --muted-foreground: 0 15% 36%;
      --popover: 0 59% 98%;
      --popover-foreground: 0 63% 3%;
      --card: 0 59% 97%;
      --card-foreground: 0 63% 2%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --primary: 0 69% 45%;
      --primary-foreground: 0 0% 100%;
      --secondary: 0 13% 87%;
      --secondary-foreground: 0 13% 27%;
      --accent: 0 20% 79%;
      --accent-foreground: 0 20% 19%;
      --destructive: 5 69% 88%;
      --destructive-foreground: 5 69% 28%;
      --success: 106 69% 88%;
      --success-foreground: 106 69% 8%;
      --warning: 44 69% 88%;
      --warning-foreground: 44 69% 8%;
      --info: 200 69% 88%;
      --info-foreground: 200 69% 28%;
      --ring: 0 69% 45%;
      --radius: 0.5rem;
    }
  
    .dark {
      
      --background: 0 37% 4%;
      --foreground: 0 12% 99%;
      --muted: 0 19% 11%;
      --muted-foreground: 0 15% 64%;
      --popover: 0 37% 4%;
      --popover-foreground: 0 12% 99%;
      --card: 0 37% 5%;
      --card-foreground: 0 0% 100%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --primary: 0 69% 45%;
      --primary-foreground: 0 0% 100%;
      --secondary: 0 10% 9%;
      --secondary-foreground: 0 10% 69%;
      --accent: 0 18% 18%;
      --accent-foreground: 0 18% 78%;
      --destructive: 13 69% 25%;
    --destructive-foreground: 13 69% 85%;
    --success: 150 69% 25%;
    --success-foreground: 0 0% 100%;
    --warning: 44 69% 25%;
    --warning-foreground: 0 0% 100%;
    --info: 182 69% 25%;
    --info-foreground: 0 0% 100%;
      --ring: 0 69% 45%;
    }
  }
  


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}